    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Kablammo';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/kablammo-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    body{
      margin:0;
      padding:0;
      box-sizing: border-box;
    }

  canvas{
    background-color: black;
  }

  .wrapper{
    background-image: url('../images/desert-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100svh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}
.first-btns{
  display: flex;

}
.hide{
  display: none;
}

#fs-open:hover, #fs-close:hover{
  cursor:pointer;
}
.btn{
    background-color: #59695b;
    margin:2rem 0 0 0;
    padding: 12px 16px;
    font-size: 20px;
    color: #fad193;
    border-radius: 15px;
    border: 1px solid #59695b;
    font-family: 'Kablammo', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 5px;
  &:hover{
    background-color: transparent;
    color:#59695b;
    border: 1px solid #59695b;
    cursor:pointer;
  }
}
.headline, #game-over{
font-family:'Kablammo', sans-serif;
text-shadow: 4px 3px 14px rgba(0,0,0,0.51);
}
.mt{
  margin-top:2rem;
}
.ml{
  margin-left: 4rem;
}
p{
  text-align: center;
}
a#imprint{
  color: #222;
  margin:10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  &:hover{
    color:#59695b;
  }
}

.btn-mute img{
    padding:10px;
}

.credits{
  font-size: 2rem;
  letter-spacing: 5px;
  font-family:'Kablammo', sans-serif;
}
.box{
  display: none;
}
.btn-back{
  display:flex;
  justify-content: center;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
  text-align: center;
  & li{
    margin-bottom: 1rem;
  }
}

#game-over{
  font-size: 8rem;
  display:none;
}
h1.headline{
  font-size: 6rem;
  margin:1rem 0 2rem 0;
}
a{
  color:#fad193;
  text-decoration: none;
  &:hover{
    background-color: transparent;
    color:#59695b;
    border: 0px solid #59695b;
    cursor:pointer;
  }
}
#game-result-text{
  color:#f5f5f5;
}
#restart-button, #quit-button{  
  display:flex;
  background-color:#f5f5f5;
  padding: 20px 16px;
  font-size: 20px;
  color:#59695b;
  border-radius: 15px;
  border: 1px solid #59695b;
  font-family:'Kablammo', sans-serif;
  font-size:2rem;
  letter-spacing: 5px;
  &:hover{
    background-color: transparent;
    color:#f5f5f5;
    border: 1px solid #59695b;
    cursor:pointer;
  }
}
.fullscreen-box{
position:absolute;
bottom:80px;
right:0;
display: flex;
justify-content: flex-end;
padding-right:3%;
margin-top:1rem;
width:99%;
z-index:8000;
}
.fullscreen{
  height:32px;
  width: 32px;
}
.endscreen{
  margin-top: 7rem;
  display:flex;
  justify-content:space-evenly;
  width:100%;
}
.touch-pan-mute{
  position:absolute;
  top:0;
  right:0;
  width:99%;
  display: flex;
  justify-content: space-between;
  z-index: 8000;
}

#instruction{
  margin-top:4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}
  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100svw; 
    height: 100svh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
  }
  .overlay.hide {
    display: none;
  }
  .overlay-content {
    background: transparent;
    text-align: center;
    height: 100svh;
    width:100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;

  }
  #controls-box{
    justify-content: space-between;
  }

  button{
      background-color: transparent;
      border:0px solid transparent;
  }

  button img{
    height:32px;
    width:32px;
    background-color: transparent;
  }
  .imprint{
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
    & a{
        color: #222;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        &:hover{
          color:#59695b;
        }
    }
  }

@media( max-width:936px){
 .fullscreen-box{
  position:absolute;
  left:0;
  bottom: 10px;
  display: none;
  justify-content: flex-end;
  padding-right:3%;
  margin-top:1rem;
  width:99%;
  }
  canvas {
    overflow-clip-margin: border-box;
    overflow-inline:hidden;
    height: 100svh;
}
  h1.headline {
    font-size: 4rem;
    text-align: center;
  }
#restart-button, #quit-button{
  display: flex;
  font-size: 1.3rem;
}

.touch-pan-left{
  margin-left: 30px;
}
.touch-pan-right{
  margin-right: 30px;
}
#instruction{
  display: none;
}
#el-pollo-loco{
  font-size: 4rem;
  margin-bottom: 0rem;
}
#game-result-text{
  color:#f5f5f5;
  margin-bottom: 0rem;
}
  .box{
    display: flex;
    position:absolute;
    width: 100svw;
    height: 34px;
    left:0px;
    bottom: 12px;
    z-index: 8000;
    justify-content: space-around;
  }
  .hide{
    display:none;
  }
.endscreen{
    margin-top: 2rem;
}

}
@media(width < 480px){
  canvas {
    height: 100vh;
  }
  h1.headline {
    font-size: 4rem;
    text-align: center;
}
}