    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Kablammo';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/kablammo-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
  :root, :host {

    /* kablammo-regular - latin */

  }
  canvas{
    background-color: black;
    display:block;
  }

  .wrapper{
    background-image: url('../images/desert-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height:100svh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline{
font-family:'Kablammo', sans-serif;
font-size: 6rem;
text-shadow: 4px 3px 14px rgba(0,0,0,0.51);
}
@media(width < 720px){
canvas {
  width: 100svb;
}
}
@media(width <= 480px){
  canvas {
    height: 100svh;
  }
}
